@charset "UTF-8";

#wrap {
	width : 1200px;
	margin : auto;
}

header {
	height : 50px;
}

.signupContent {
	width : 400px;
}

.content {
	width : 600px;
}

.heart-size {
	font-size : 18px;
	text-decoration:none;
}

footer {
	height : 50px;
}